@import '../../styles//global.scss';

.loading {
  @include loadingSpinner;
}

.content {
  @include sectionStyle;
  @include globalMargin;

  button {
    margin: 10px 20px 0 0;
  }
  p {
    font-size: larger;
  }
}

.updateContent {
  box-sizing: border-box;
  padding: 30px;

  p {
    margin: 12px 0 5px 0;
  }
  button {
    margin: 30px 20px 0 0;
  }
  h2 {
    margin-bottom: 40px;
  }
}

.changePasswordContent {
  box-sizing: border-box;
  padding: 30px;

  p {
    margin: 12px 0 5px 0;
  }
  button {
    margin: 30px 20px 0 0;
  }
  h2 {
    margin-bottom: 40px;
  }
}
