@import '../../styles/global.scss';

.loading {
  @include loadingSpinner;
}

.content {
  @include globalMargin;
}

.submissionsList {
  @include menuListStyle;
}

.submissionsItem {
  @include sectionStyle;
  a {
    margin: 20px 15px;
  }
}

.customBtn{
  margin: 0 0 10px 0;
}

.deleteBtn {
  margin: 0 0 10px 0;
  float: right;
}

.sendBtn {
  margin: 10px 0 0 0;
}
