$sectionColor: rgb(236, 236, 236);

@mixin globalMargin {
  margin: 100px 300px;
}

@mixin sectionStyle {
  background-color: $sectionColor;
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid black;
  border-radius: 5px;
  box-shadow: 5px 2px 5px black;
}

@mixin menuListStyle {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;
}

@mixin menuItemStyle {
  border: 3px black solid;
  border-radius: 5px;
  padding: 10px 20px;
  box-shadow: 5px 2px 5px black;
  h3 {
    margin: 2px 0;
  }
}

@mixin menuLink {
  font-weight: lighter;
  color: black;
  width: fit-content;
}

@mixin menuLinkHover {
  color: black;
  text-decoration: none;
  text-stroke: 0.7px black;
  -webkit-text-stroke: 0.7px black;
}

@mixin loadingSpinner {
  margin-top: 200px;
}

@mixin confirmDeleteStyle {
  padding: 0 60px;
  text-align: center;

  button {
    width: 70px;
    margin: 10px 10px 10px 0;
  }
}

@mixin arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 0 2px;
}

@mixin arrowHover {
  cursor: pointer;
}

@mixin arrowUp {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

@mixin arrowDown {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
