@import '../../styles/global.scss';

.loading {
  margin-top: 200px;
}

.content {
  @include globalMargin;
}

.subjectsList {
  @include menuListStyle;
}

.subjectItem {
  @include menuItemStyle;
  position: relative;
  button {
    margin: 10px;
  }
}

.linkToSubject {
  font-weight: lighter;
  color: black;
}

.linkToSubject:hover {
  @include menuLinkHover;
}

.subjectDescription {
  overflow: hidden;
  max-height: 20px;
  transition: max-height 2s;
  cursor: pointer;
}

.subjectDescription:hover {
  max-height: 500px;
}

.arrow {
  @include arrow;
  margin: 2px 10px;
}

.arrow:hover {
  @include arrowHover;
}

.up {
  @include arrowUp;
}

.down {
  @include arrowDown;
}
